@font-face {
    font-family: "iconfont";
    /* Project id 3495069 */
    src: url('../font/iconfont.woff2?t=1656689060182') format('woff2'), url('../font/iconfont.woff?t=1656689060182') format('woff'), url('../font/iconfont.ttf?t=1656689060182') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-duihuan:before {
    content: "\100cb";
}

.icon-haoyourenzheng:before {
    content: "\100cc";
}

.icon-fasong:before {
    content: "\100cd";
}

.icon-fenxiang:before {
    content: "\100ce";
}

.icon-jianshao:before {
    content: "\100cf";
}

.icon-gengduo:before {
    content: "\100d0";
}