.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.header {
    background-color: #e3e4e5;
    color: #999;
    height: 40px;
    line-height: 40px;
    position: fixed;
    left: 0;
    top: 0;
}

.header .topnav>li {
    float: left;
    margin: 0 20px;
    width: 150px;
    text-align: center;
    height: 40px;
    box-sizing: border-box;
    position: relative;
}

.header .topnav>li:hover {
    background-color: #fff;
    border: 2px solid #ccc;
    border-bottom: none;
    line-height: 36px;
    display: inline;
}

.header .topnav>li .submenu {
    width: 300px;
    text-align: left;
    line-height: 1.5;
    /* display: none; 表示不生成盒子 */
    display: none;
    border: 2px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    right: -2px;
    background: #fff;
}

.header .topnav>li:hover .submenu {
    display: block;
    padding: 2 0px;
}

.header .topnav>li:hover::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #fff;
}